body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e272c 0%, #29343d 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.seta-pisca-container {
    position: fixed;
    top: 5px; /* Ajuste para subir a seta */
    right: 10px; /* Ajuste para mover a seta para a esquerda */
    z-index: 10;
}

.seta-pisca {
    width: 80px; /* Aumenta o tamanho da largura da seta */
    height: auto;
    animation: piscar 1s infinite alternate;
}

@keyframes piscar {
    from { opacity: 1; }
    to { opacity: 0.2; }
}

.container {
    background-color: #f8f9fa;
    color: #495057;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 90%;
    max-width: 450px;
    box-sizing: border-box;
}

.aviso-principal {
    margin-bottom: 25px;
}

.atencao {
    font-size: 1.7em;
    color: #dc3545;
    margin-bottom: 12px;
    font-weight: bold;
}

.botao-entrar {
    display: inline-block;
    padding: 18px 35px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.botao-entrar:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.grupo-oficial {
    font-size: 0.9em;

